/*Tipografía */
@import url("https://use.typekit.net/kmu0pjl.css");

@font-face {
  font-family: "Sporting Grotesque";
  src: url("https://res.cloudinary.com/do60veesc/raw/upload/v1615923359/SportingGrotesque-Regular_gkcjos.otf")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "kumlien-pro, serif ";
  src: url("https://res.cloudinary.com/do60veesc/raw/upload/v1619546385/KULIEMPRO_zguzyt.woff2")
    format("woff2");
}

/* Variables */
:root {
  --primario: #3b3b3b;
  --primario-claro: #f3f0ec;
  --secundario: #6b6b4b;
  --secundario-claro: #95a147;
  --terciario: #b56a39;
  --terciario-claro: #eddfbf;
  --cuarto: #d9c3df;
  --bg: #ffffff;
  --font-textos: "Sporting Grotesque";
  --font-headings: "kumlien-pro, serif";
  --h1: 80px;
  --h2: 81px;
  --h3: 54px;
  --h4: 36px;
  --h5: 24px;
  --h6: 16px;
}

/* Base */
body {
  font-family: var(--font-textos);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h1 {
  font-size: var(--h1);
  font-weight: 10;
}

h2 {
  font-size: var(--h2);
  font-weight: 10;
}
h3 {
  font-size: var(--h3);
  font-weight: 10;
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

a {
  text-decoration: none;
  color: white;
  font-family: "kumlien-pro, serif";
}

/* Componentes */
.home-screen {
  background: url("https://res.cloudinary.com/do60veesc/image/upload/v1615925219/home_nla6tz.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 415px) {
  .home-screen {
    background-position: center top;
    flex-direction: column;
    color: black;
  }
  .home-screen h1 {
    display: none;
  }
}

.nav ul {
  height: auto;
  /* border: 1px solid; */
  /* background-color: #b56a39; */
  position: fixed;
  top: 0;
  left: 0;
}
.nav ul li a {
  text-decoration: none;
  line-height: 1.5;
  color: white;
  position: sticky;
}

@media screen and (max-width: 415px) {
  .nav ul {
    display: flex;
    gap: 80px;
  }
}

.titulo {
  color: #3b3b3b;
  text-align: right;
  line-height: 2;
  flex: 1.5;
}

.descripcion {
  flex: 1;
  display: grid;
  place-content: center;
  color: white;
  padding-right: 60px;
}

.descripcion h2 {
  --h2: 48px;
  font-size: var(--h2);
}

.descripcion p {
  line-height: 2;
  padding-bottom: 2rem;
}

.descripcion a {
  position: relative;
  color: white;
  text-decoration: none;
}

.descripcion a::after {
  content: url(./assets/arrow.svg);
  position: absolute;
  top: 40px;
  left: 0;
  transition: background 0.4s ease-in-out;
}

.descripcion a:hover::after {
  background: #95a147;
}

@media screen and (max-width: 415px) {
  .titulo {
    margin-left: 50px;
    color: black;
  }

  .descripcion {
    margin-left: 50px;
    color: black;
  }

  .descripcion h2 {
    --h2: 48px;
    font-size: var(--h2);
    color: black;
  }

  .descripcion p {
    line-height: 2;
    padding-bottom: 2rem;
    color: black;
  }

  .descripcion a {
    position: relative;
    color: white;
    text-decoration: none;
    color: black;
  }
}

/* Manual tipografico */
.manual-tipografico {
  display: flex;
  height: 100vh;
}
.manual-tipografico-descripcion {
  flex: 1;
  background-color: #6b6b4b;
  color: white;
  display: grid;
  place-content: center;
}
.manual-tipografico-descripcion h2 {
  font-size: 20px;
  font-weight: 400;
}
.manual-tipografico-descripcion h3 {
  line-height: 1;
  padding-bottom: 20px;
}
.manual-tipografico-descripcion p {
  font-size: 17px;
  line-height: 1.8;
}
.manual-tipografico-descripcion a {
  text-transform: uppercase;
  color: white;
}

.manual-tipografico-imagen {
  flex: 3;
  object-fit: cover;
}

@media screen and (max-width: 415px) {
  .manual-tipografico {
    display: flex;
    flex-direction: column;
  }
  .manual-tipografico-descripcion {
    background-color: #6b6b4b;
    color: white;
    display: grid;
    place-content: center;
  }
  .manual-tipografico-descripcion h2 {
    font-size: 20px;
    font-weight: 400;
  }
  .manual-tipografico-descripcion p {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .manual-tipografico-descripcion a {
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
  }

  .manual-tipografico-imagen {
    flex: 3;
    object-fit: cover;
    margin-bottom: 20px;
  }
}

/* Labana */
.labana {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
}
.labana-descripcion {
  place-self: unset;
  line-height: 53px;
  border: 1px solid;
  border-color: white;
  max-width: 400px;
  margin: auto;
}

.labana-descripcion p {
  line-height: 1.7;
}

.labana-descripcion p,
.labana-descripcion h3 {
  width: 100%;
  margin-bottom: 50px;
}

.labana-imagen-uno {
  max-width: 400px;
  margin: auto;
  margin-bottom: 20px;
}

/* Malba */
.malba {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
}
.malba > div {
  background-color: #b56a39;
}
.malba-descripcion {
  place-self: unset;
  line-height: 30px;
  border: 1px solid;
  border-color: #b56a39;
  max-width: 400px;
  margin: auto;
  margin-top: 20%;
  color: #ffffff;
}

.malba-descripcion h3 {
  margin-bottom: 50px;
}

.malba-imagen-uno {
  max-width: 300px;
  margin-top: 60px;
}

@media screen and (max-width: 415px) {
  .malba {
    display: flex;
    flex-direction: column;
  }
}

/* App */
.app {
  width: 100vw;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #6b6b4b;
  text-align: center;
}
.app img {
  position: relative;
  opacity: 1;
  transition: 0.3s ease-in-out;
  object-fit: cover;
}
.app div {
  position: absolute;
  top: 0;
  left: -220px;
  width: 220px;
  height: 100%;
  background: #6b6b4b;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app:hover img {
  opacity: 0.9;
  right: -220px;
}

.app:hover div {
  left: 0;
  opacity: 1;
}

.app div a {
  color: white;
  text-decoration: none;
}

/* CincoJ */
.cincoj {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
}
.cincoj > div {
  background-color: #3b3b3b;
}
.cincoj-descripcion {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  color: white;
  line-height: 53px;
}

@media screen and (max-width: 415px) {
  .cincoj {
    display: flex;
    flex-direction: column;
  }

  .cincoj-descripcion {
    margin-bottom: 10px;
  }
}

/* Carrousel*/

.carrousel {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 60px;
  margin-top: 160px;
  margin-bottom: 200px;
}

.carrousel-imagen-uno {
  grid-column: 1;
  grid-row: 1;
}

.carrousel-imagen-dos {
  grid-column: 2;
  grid-row: 1;
}

.carrousel-imagen-tres {
  grid-column: 3;
  grid-row: 1;
}

.carrousel-descripcion {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media screen and (max-width: 415px) {
  .carrousel {
    display: flex;
    flex-direction: column;
  }
}

/* ABOUT */

.about {
  position: relative;
  display: flex;
}

.titulos {
  display: flex;
  flex: 3;
  background-color: var(--secundario);
}

.titulos img {
  object-fit: cover;
  padding: 80px;
  padding-right: 20px;
}

.titulos ul {
  display: grid;
  place-content: center;
  gap: 10px;
}

.titulos ul li {
  /* margin-top: -40%; */
}

.titulos ul li:first-child a,
.titulos ul li:last-child a {
  position: relative;
  transition: all 0.4ms linear;
}
.titulos ul li:first-child a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #101010;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.titulos ul li:first-child a:hover:after {
  width: 600%;
  left: 0;
}

.titulos ul li:last-child a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #101010;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.titulos ul li:last-child a:hover:after {
  width: 600%;
  left: 0;
}

.titulos ul li:first-child a:hover {
}
.titulos ul li:last-child a:hover {
}
.contenido {
  max-width: 550px;
  position: absolute;
  margin-left: 70%;
  right: 40px;
  top: 80px;
}
.contenido-about {
  flex: 2;
  background-color: white;
  display: grid;
  place-content: center;
  padding: 30px;
  max-width: 550px;
}

/* Redes*/

.redes {
  margin-top: 90px;
}

.redes p {
  margin-top: 15px;
  margin-bottom: 50px;
  margin-left: 90px;
}

/* menu final*/

.menu-final p {
  text-align: right;
  margin-right: 90px;
  margin-top: 15px;
}

.nav_bottom ul {
  height: auto;
}

.nav_bottom ul li a {
  text-decoration: none;
  line-height: 1.5;
  color: black;
  margin-left: 50px;
}

/* XYZ */
/* .XYZ {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
}
.XYZ-descripcion {
  place-self: center;
}
.XYZ-imagen-uno {
} */
