/*Tipografía */
@import url("https://use.typekit.net/kmu0pjl.css");

@font-face {
  font-family: "Sporting Grotesque";
  src: url("https://res.cloudinary.com/do60veesc/raw/upload/v1615923359/SportingGrotesque-Regular_gkcjos.otf")
    format("woff2");
  font-style: normal;
}

/* Variables */
:root {
  --primario: #3b3b3b;
  --primario-claro: #f3f0ec;
  --secundario: #6b6b4b;
  --secundario-claro: #95a147;
  --terciario: #b56a39;
  --terciario-claro: #eddfbf;
  --cuarto: #d9c3df;
  --bg: #ffffff;
  --font-textos: "Sporting Grotesque";
  --font-headings: "kumlien-pro, serif";
  --h1: 80px;
  --h2: 81px;
  --h3: 54px;
  --h4: 36px;
  --h5: 24px;
  --h6: 16px;
}

/* Base */
body,
h2 {
  font-family: var(--font-textos);
}

h1,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
  font-family: var(--font-textos);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

/* Componentes */

.home_screen {
  background: url("https://res.cloudinary.com/do60veesc/image/upload/v1615925219/home_nla6tz.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  postition:fixed;
}
.top {
  display: flex;
}
.nav {
}
.nav ul {
}
.nav ul a {
  text-decoration: none;
  line-height: 1.5;
  color: white;
}
.titulo_estatico {
  font-weight: 400;
  color:white;
  

}
.titulo_banner {
  background-color:blue;
  

}
.titulo_banner h2 {
}
.titulo_banner p {
}

/* Utilities */
